.custom-cursor {
  cursor: url("img/no_fingers.png"), auto;
}

.trail {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(185, 28, 28);
  pointer-events: none;
}

@keyframes flicker {
  0% {
    opacity: 0.8;
  }
  5% {
    opacity: 0.85;
  }
  10% {
    opacity: 0.9;
  }
  15% {
    opacity: 0.85;
  }
  20% {
    opacity: 0.8;
  }
  25% {
    opacity: 0.75;
  }
  30% {
    opacity: 0.9;
  }
  35% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.7;
  }
  45% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.8;
  }
  55% {
    opacity: 0.85;
  }
  60% {
    opacity: 0.75;
  }
  65% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.75;
  }
  85% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.8;
  }
  95% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0);
  }
}

.glitch {
  animation: glitch 0.3s infinite;
  animation-timing-function: steps(1);
  animation-play-state: paused;
}

.glitch:hover {
  animation-play-state: running;
}

@keyframes flicker {
  0% {
    opacity: 0.8;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.8;
  }
  15% {
    opacity: 0.7;
  }
  20% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  animation: flicker 5s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
